/node_modules
/public/hot
/public/storage
/public/aria-ng/*
/public/favicon.ico
/resources/views/ng.blade.php
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
