@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans Regular'), local('Google Sans Regular'), url(https://cdn.jsdelivr.net/gh/186526/jsdelivr@1.1.8/static/ProductSans-Regular.woff2) format('woff2');
}

body {
    font-family: Roboto, Noto Sans SC, Noto, Helvetica, Arial, sans-serif
}

.mdui-container {
    max-width: 950px
}

.mdui-drawer-close {
    display: none
}

.mdui-drawer .mdui-list-item {
    padding-left: 20px;
    border-radius: 0 50px 50px 0
}

.mdui-toolbar > a,
.mdui-chip-title,
.mdui-dialog-title {
    font-family: Product Sans, Noto Sans SC, Roboto, Noto, Helvetica, Arial, sans-serif
}

.mdui-list-item-icon {
    color: black
}

.mdui-typo {
    border-radius: 8px
}

.mdui-dialog {
    border-radius: 8px
}

.mdui-container .mdui-list-item {
    border-radius: 50px;
}

